@charset "utf-8";
h1 {
    color: #C49E91;
}
h2 {
    color: #FCAA95;
}
h3 {
    color: #9CCDEE;
}
p {
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
}
