@charset "utf-8";
h1   {
    color: #000000;
    font-size: 20px;
}
h2   {
    color: #000000;
}
h3   {
    color: #848484;
}
body p {
    color: #000000;
}
body h1 {
    font-size: 15px;
    color: #000000;
    text-align: left;
}
body h1 strong {
    font-size: 20px;
}
h3 {
    font-size: 20px;
    text-align: left;
}
